html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #29458f 0%, #090a0f 100%);
  overflow: hidden;
}

@font-face {
  font-family: TFForever;
  src: url("font/TFForever-ExtraboldItalic.otf") format("opentype");
}



#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 778px 326px #FFF , 701px 24px #FFF , 72px 1241px #FFF , 1985px 1648px #FFF , 748px 1237px #FFF , 1636px 1417px #FFF , 762px 467px #FFF , 1682px 996px #FFF , 1578px 1502px #FFF , 1298px 886px #FFF , 1135px 750px #FFF , 331px 844px #FFF , 1810px 1021px #FFF , 1006px 1466px #FFF , 1245px 770px #FFF , 1255px 267px #FFF , 704px 1734px #FFF , 142px 360px #FFF , 1738px 235px #FFF , 728px 503px #FFF , 989px 1969px #FFF , 624px 463px #FFF , 1275px 943px #FFF , 1918px 688px #FFF , 523px 1949px #FFF , 870px 372px #FFF , 79px 632px #FFF , 608px 171px #FFF , 1185px 749px #FFF , 221px 253px #FFF , 818px 1598px #FFF , 1025px 1966px #FFF , 1567px 1053px #FFF , 1618px 795px #FFF , 1041px 450px #FFF , 68px 1629px #FFF , 1604px 1697px #FFF , 1035px 451px #FFF , 342px 1303px #FFF , 1415px 889px #FFF , 1263px 1896px #FFF , 916px 1373px #FFF , 1425px 1287px #FFF , 1543px 1207px #FFF , 1346px 1889px #FFF , 872px 1667px #FFF , 1102px 1543px #FFF , 497px 1512px #FFF , 1011px 1692px #FFF , 1321px 746px #FFF , 121px 381px #FFF , 1494px 730px #FFF , 438px 1513px #FFF , 1604px 1625px #FFF , 128px 1723px #FFF , 1703px 513px #FFF , 206px 1741px #FFF , 12px 1927px #FFF , 993px 25px #FFF , 167px 1907px #FFF , 1986px 1922px #FFF , 1153px 1552px #FFF , 1738px 1563px #FFF , 1549px 1988px #FFF , 290px 326px #FFF , 301px 784px #FFF , 1898px 1804px #FFF , 184px 309px #FFF , 1829px 640px #FFF , 849px 854px #FFF , 1725px 382px #FFF , 1105px 106px #FFF , 1992px 12px #FFF , 586px 1672px #FFF , 738px 1517px #FFF , 1571px 371px #FFF , 691px 198px #FFF , 1544px 1594px #FFF , 664px 515px #FFF , 889px 1596px #FFF , 759px 1257px #FFF , 1195px 1950px #FFF , 710px 1016px #FFF , 1145px 1902px #FFF , 637px 1651px #FFF , 1192px 521px #FFF , 350px 723px #FFF , 1442px 1047px #FFF , 240px 1508px #FFF , 598px 801px #FFF , 563px 1429px #FFF , 487px 1335px #FFF , 174px 720px #FFF , 289px 1343px #FFF , 1762px 186px #FFF , 1346px 409px #FFF , 749px 324px #FFF , 1437px 1309px #FFF , 518px 1496px #FFF , 509px 1263px #FFF , 1139px 1984px #FFF , 1075px 186px #FFF , 288px 534px #FFF , 1237px 1778px #FFF , 1818px 1725px #FFF , 1888px 615px #FFF , 304px 1580px #FFF , 788px 432px #FFF , 730px 1078px #FFF , 157px 453px #FFF , 1120px 1334px #FFF , 1854px 1434px #FFF , 1200px 1768px #FFF , 718px 1809px #FFF , 406px 945px #FFF , 317px 707px #FFF , 1142px 987px #FFF , 285px 1136px #FFF , 465px 804px #FFF , 1567px 346px #FFF , 1594px 1038px #FFF , 1747px 1093px #FFF , 1808px 1279px #FFF , 1034px 1895px #FFF , 454px 202px #FFF , 1159px 1833px #FFF , 1252px 1773px #FFF , 246px 518px #FFF , 1280px 692px #FFF , 1417px 1249px #FFF , 551px 1714px #FFF , 1770px 425px #FFF , 901px 1503px #FFF , 764px 2000px #FFF , 1561px 480px #FFF , 762px 172px #FFF , 1018px 137px #FFF , 499px 679px #FFF , 1843px 1536px #FFF , 366px 1449px #FFF , 261px 7px #FFF , 1292px 1274px #FFF , 948px 1530px #FFF , 1573px 370px #FFF , 317px 341px #FFF , 210px 693px #FFF , 44px 1395px #FFF , 802px 1367px #FFF , 1215px 1176px #FFF , 643px 635px #FFF , 1361px 1748px #FFF , 440px 1539px #FFF , 1318px 1491px #FFF , 70px 1408px #FFF , 1535px 426px #FFF , 989px 1495px #FFF , 458px 1841px #FFF , 116px 1167px #FFF , 147px 597px #FFF , 369px 98px #FFF , 816px 492px #FFF , 986px 1178px #FFF , 1214px 1248px #FFF , 1625px 1793px #FFF , 1907px 741px #FFF , 1883px 1836px #FFF , 1631px 80px #FFF , 1766px 474px #FFF , 1872px 1391px #FFF , 1938px 13px #FFF , 1726px 269px #FFF , 1731px 1637px #FFF , 639px 1098px #FFF , 1043px 867px #FFF , 1104px 491px #FFF , 94px 215px #FFF , 158px 38px #FFF , 1075px 463px #FFF , 957px 36px #FFF , 128px 1637px #FFF , 1759px 1282px #FFF , 1322px 1256px #FFF , 1436px 956px #FFF , 682px 1270px #FFF , 199px 263px #FFF , 1291px 1150px #FFF , 1099px 1855px #FFF , 1228px 1678px #FFF , 1725px 1469px #FFF , 1378px 857px #FFF , 122px 1052px #FFF , 503px 907px #FFF , 1795px 573px #FFF , 1035px 1320px #FFF , 228px 661px #FFF , 243px 1174px #FFF , 1027px 1372px #FFF , 1675px 1742px #FFF , 1473px 947px #FFF , 1751px 1714px #FFF , 1425px 1173px #FFF , 1821px 1772px #FFF , 734px 228px #FFF , 449px 512px #FFF , 975px 1440px #FFF , 360px 1879px #FFF , 56px 1318px #FFF , 141px 1157px #FFF , 260px 1251px #FFF , 120px 1499px #FFF , 1714px 1639px #FFF , 1938px 204px #FFF , 867px 1974px #FFF , 95px 1018px #FFF , 115px 1489px #FFF , 519px 1280px #FFF , 1135px 1609px #FFF , 1579px 1939px #FFF , 709px 1426px #FFF , 467px 827px #FFF , 743px 1222px #FFF , 1526px 970px #FFF , 1081px 1235px #FFF , 1975px 1679px #FFF , 1597px 1984px #FFF , 1660px 1494px #FFF , 1998px 435px #FFF , 1595px 805px #FFF , 1726px 1055px #FFF , 804px 1458px #FFF , 146px 215px #FFF , 113px 1523px #FFF , 1883px 680px #FFF , 506px 240px #FFF , 1499px 1274px #FFF , 936px 562px #FFF , 64px 1416px #FFF , 1239px 1023px #FFF , 1476px 1553px #FFF , 30px 1367px #FFF , 389px 1545px #FFF , 818px 1724px #FFF , 1416px 1728px #FFF , 1550px 100px #FFF , 743px 466px #FFF , 846px 1857px #FFF , 1102px 877px #FFF , 1532px 1157px #FFF , 217px 937px #FFF , 1471px 215px #FFF , 1657px 1931px #FFF , 581px 136px #FFF , 502px 1995px #FFF , 1805px 280px #FFF , 1357px 1777px #FFF , 94px 207px #FFF , 848px 212px #FFF , 1650px 1280px #FFF , 1471px 1182px #FFF , 33px 1230px #FFF , 910px 1717px #FFF , 102px 1009px #FFF , 699px 82px #FFF , 1997px 882px #FFF , 1013px 1203px #FFF , 1579px 1350px #FFF , 24px 298px #FFF , 1839px 1600px #FFF , 1954px 277px #FFF , 736px 1964px #FFF , 1104px 1310px #FFF , 648px 1748px #FFF , 47px 551px #FFF , 254px 163px #FFF , 719px 395px #FFF , 513px 1625px #FFF , 202px 1799px #FFF , 229px 208px #FFF , 578px 19px #FFF , 1928px 374px #FFF , 1872px 600px #FFF , 647px 1988px #FFF , 14px 821px #FFF , 1200px 6px #FFF , 1418px 352px #FFF , 199px 1627px #FFF , 1603px 743px #FFF , 1667px 24px #FFF , 1216px 582px #FFF , 1456px 1851px #FFF , 1925px 755px #FFF , 892px 1801px #FFF , 981px 1069px #FFF , 675px 1710px #FFF , 651px 1428px #FFF , 446px 403px #FFF , 1581px 1860px #FFF , 1992px 1491px #FFF , 1139px 913px #FFF , 816px 1579px #FFF , 1489px 354px #FFF , 483px 1987px #FFF , 1107px 1779px #FFF , 1132px 965px #FFF , 1085px 577px #FFF , 81px 932px #FFF , 1265px 333px #FFF , 1394px 1453px #FFF , 1951px 1096px #FFF , 1966px 1294px #FFF , 1511px 1099px #FFF , 412px 1996px #FFF , 78px 508px #FFF , 422px 1359px #FFF , 394px 1064px #FFF , 1738px 1335px #FFF , 361px 1728px #FFF , 1468px 1072px #FFF , 499px 157px #FFF , 1677px 931px #FFF , 1569px 766px #FFF , 1655px 907px #FFF , 133px 670px #FFF , 1576px 1317px #FFF , 1843px 1017px #FFF , 1119px 45px #FFF , 1605px 1906px #FFF , 952px 1057px #FFF , 1872px 297px #FFF , 254px 1633px #FFF , 839px 298px #FFF , 257px 1914px #FFF , 1584px 955px #FFF , 1114px 17px #FFF , 1004px 1944px #FFF , 1887px 76px #FFF , 1977px 174px #FFF , 1441px 762px #FFF , 919px 107px #FFF , 281px 311px #FFF , 284px 541px #FFF , 1921px 191px #FFF , 1725px 1509px #FFF , 278px 676px #FFF , 1477px 538px #FFF , 446px 1946px #FFF , 1630px 783px #FFF , 1482px 1526px #FFF , 1918px 1324px #FFF , 629px 1939px #FFF , 1618px 1249px #FFF , 628px 244px #FFF , 96px 98px #FFF , 1299px 1887px #FFF , 666px 1215px #FFF , 942px 1348px #FFF , 1904px 143px #FFF , 1326px 624px #FFF , 944px 1893px #FFF , 1964px 1193px #FFF , 1723px 1496px #FFF , 820px 1273px #FFF , 485px 362px #FFF , 1589px 1695px #FFF , 231px 1804px #FFF , 763px 359px #FFF , 520px 223px #FFF , 41px 1973px #FFF , 1869px 642px #FFF , 1300px 9px #FFF , 1565px 1503px #FFF , 163px 646px #FFF , 592px 375px #FFF , 1648px 731px #FFF , 922px 1572px #FFF , 202px 522px #FFF , 305px 787px #FFF , 111px 774px #FFF , 1313px 802px #FFF , 1515px 865px #FFF , 72px 1671px #FFF , 1823px 1934px #FFF , 555px 1094px #FFF , 776px 215px #FFF , 200px 794px #FFF , 286px 1252px #FFF , 1662px 991px #FFF , 702px 1193px #FFF , 1047px 527px #FFF , 790px 973px #FFF , 872px 709px #FFF , 1401px 1227px #FFF , 1123px 1822px #FFF , 179px 1425px #FFF , 1848px 576px #FFF , 1839px 1650px #FFF , 1478px 1580px #FFF , 1161px 1751px #FFF , 1539px 1724px #FFF , 366px 1807px #FFF , 1508px 1662px #FFF , 91px 1892px #FFF , 1618px 1834px #FFF , 1491px 322px #FFF , 50px 1215px #FFF , 174px 1465px #FFF , 489px 96px #FFF , 428px 137px #FFF , 735px 716px #FFF , 215px 462px #FFF , 1771px 128px #FFF , 1855px 1126px #FFF , 472px 1232px #FFF , 187px 1332px #FFF , 1335px 767px #FFF , 1492px 803px #FFF , 523px 1798px #FFF , 571px 1852px #FFF , 849px 922px #FFF , 522px 56px #FFF , 1823px 196px #FFF , 897px 1978px #FFF , 555px 1505px #FFF , 1898px 504px #FFF , 672px 1133px #FFF , 1306px 1520px #FFF , 896px 216px #FFF , 1390px 1935px #FFF , 1282px 711px #FFF , 677px 1190px #FFF , 1281px 1703px #FFF , 1661px 921px #FFF , 208px 42px #FFF , 48px 166px #FFF , 828px 558px #FFF , 1681px 786px #FFF , 1022px 698px #FFF , 136px 409px #FFF , 499px 1748px #FFF , 1040px 129px #FFF , 371px 1433px #FFF , 1849px 1861px #FFF , 1386px 1667px #FFF , 816px 195px #FFF , 480px 868px #FFF , 1827px 1719px #FFF , 227px 860px #FFF , 791px 1238px #FFF , 28px 105px #FFF , 1064px 1057px #FFF , 974px 618px #FFF , 918px 173px #FFF , 1231px 1034px #FFF , 136px 712px #FFF , 1913px 904px #FFF , 1384px 1736px #FFF , 10px 29px #FFF , 955px 1881px #FFF , 75px 1787px #FFF , 50px 1917px #FFF , 765px 668px #FFF , 164px 593px #FFF , 481px 1107px #FFF , 543px 1714px #FFF , 1092px 1828px #FFF , 1268px 627px #FFF , 147px 71px #FFF , 313px 898px #FFF , 1074px 1931px #FFF , 1644px 1638px #FFF , 429px 565px #FFF , 1067px 365px #FFF , 1990px 1431px #FFF , 1772px 206px #FFF , 740px 813px #FFF , 1143px 1942px #FFF , 1198px 1182px #FFF , 107px 489px #FFF , 1937px 982px #FFF , 1969px 1735px #FFF , 1345px 571px #FFF , 1463px 1063px #FFF , 99px 1262px #FFF , 1393px 836px #FFF , 1969px 672px #FFF , 681px 70px #FFF , 1501px 891px #FFF , 884px 1527px #FFF , 1362px 1833px #FFF , 37px 1184px #FFF , 873px 831px #FFF , 1385px 356px #FFF , 132px 29px #FFF , 1036px 1647px #FFF , 1693px 1461px #FFF , 1313px 279px #FFF , 1975px 33px #FFF , 493px 512px #FFF , 1904px 558px #FFF , 1160px 1385px #FFF , 1636px 56px #FFF , 1962px 1595px #FFF , 637px 531px #FFF , 1350px 932px #FFF , 215px 191px #FFF , 881px 871px #FFF , 1668px 1907px #FFF , 280px 321px #FFF , 315px 1652px #FFF , 1044px 1669px #FFF , 1768px 1533px #FFF , 1764px 472px #FFF , 193px 629px #FFF , 1940px 358px #FFF , 1874px 1289px #FFF , 1792px 1552px #FFF , 1891px 402px #FFF , 1855px 367px #FFF , 1928px 286px #FFF , 52px 160px #FFF , 423px 1756px #FFF , 1574px 1507px #FFF , 1369px 1448px #FFF , 720px 1449px #FFF , 115px 1691px #FFF , 85px 1990px #FFF , 1795px 1855px #FFF , 640px 1340px #FFF , 1621px 971px #FFF , 1642px 1862px #FFF , 520px 1063px #FFF , 1014px 810px #FFF , 1228px 1275px #FFF , 1811px 1002px #FFF , 900px 777px #FFF , 1176px 636px #FFF , 1142px 1227px #FFF , 1269px 1538px #FFF , 1261px 1016px #FFF , 533px 1775px #FFF , 975px 813px #FFF , 762px 583px #FFF , 374px 1803px #FFF , 1517px 590px #FFF , 1582px 946px #FFF , 768px 820px #FFF , 484px 318px #FFF , 1621px 675px #FFF , 1182px 1250px #FFF , 315px 1247px #FFF , 1544px 1576px #FFF , 101px 709px #FFF , 502px 1563px #FFF , 1861px 210px #FFF , 54px 354px #FFF , 192px 741px #FFF , 1206px 1565px #FFF , 362px 1230px #FFF , 1024px 522px #FFF , 165px 1699px #FFF , 885px 885px #FFF , 1854px 1233px #FFF , 374px 995px #FFF , 331px 231px #FFF , 890px 1001px #FFF , 1794px 856px #FFF , 1031px 465px #FFF , 951px 642px #FFF , 173px 699px #FFF , 1992px 1676px #FFF , 1554px 606px #FFF , 1118px 522px #FFF , 346px 48px #FFF , 827px 1397px #FFF , 486px 872px #FFF , 1031px 177px #FFF , 545px 1317px #FFF , 489px 1610px #FFF , 1545px 484px #FFF , 1392px 1022px #FFF , 684px 1130px #FFF , 1000px 1239px #FFF , 296px 1034px #FFF , 1516px 885px #FFF , 195px 422px #FFF , 266px 1198px #FFF , 1073px 1591px #FFF , 211px 824px #FFF , 1074px 1601px #FFF , 783px 1861px #FFF , 1787px 1618px #FFF , 1770px 1073px #FFF , 1192px 982px #FFF , 482px 184px #FFF , 1446px 1688px #FFF , 475px 453px #FFF , 1418px 743px #FFF , 369px 1819px #FFF , 1520px 1425px #FFF , 417px 1848px #FFF , 1522px 1167px #FFF , 1840px 1649px #FFF , 1265px 1229px #FFF , 1556px 1143px #FFF , 320px 1562px #FFF , 1304px 1876px #FFF , 1666px 42px #FFF , 649px 1624px #FFF , 853px 1172px #FFF , 1747px 855px #FFF , 272px 256px #FFF , 899px 1662px #FFF , 330px 1512px #FFF , 299px 717px #FFF , 594px 1422px #FFF , 672px 90px #FFF , 209px 1942px #FFF , 45px 1183px #FFF , 1773px 114px #FFF , 1219px 1151px #FFF , 152px 507px #FFF , 129px 983px #FFF , 1349px 1822px #FFF , 1050px 1992px #FFF , 450px 293px #FFF , 24px 81px #FFF , 1371px 1130px #FFF , 396px 785px #FFF , 656px 281px #FFF , 1816px 1316px #FFF , 410px 1542px #FFF , 902px 1180px #FFF , 1407px 1837px #FFF , 1573px 799px #FFF , 1862px 1568px #FFF , 540px 1101px #FFF , 1987px 1648px #FFF , 549px 4px #FFF , 1395px 516px #FFF , 627px 230px #FFF , 1626px 656px #FFF , 1562px 1747px #FFF , 1636px 1038px #FFF , 1098px 1156px #FFF , 841px 1867px #FFF , 2000px 384px #FFF , 1025px 331px #FFF , 1946px 161px #FFF , 308px 827px #FFF , 469px 649px #FFF , 737px 624px #FFF , 1698px 1677px #FFF , 1459px 1141px #FFF , 1748px 858px #FFF , 1419px 1699px #FFF , 1145px 959px #FFF , 40px 1271px #FFF , 663px 888px #FFF , 347px 788px #FFF , 251px 1107px #FFF , 1289px 540px #FFF , 1172px 136px #FFF , 836px 160px #FFF , 1649px 1879px #FFF , 2000px 199px #FFF , 1926px 359px #FFF , 194px 1600px #FFF , 344px 165px #FFF , 558px 1079px #FFF , 1755px 140px #FFF , 1916px 1079px #FFF , 963px 1593px #FFF , 667px 913px #FFF , 487px 1219px #FFF , 602px 140px #FFF , 1987px 945px #FFF , 723px 1248px #FFF , 21px 1161px #FFF , 1119px 698px #FFF , 117px 80px #FFF , 636px 1110px #FFF , 1957px 1911px #FFF , 149px 1805px #FFF , 1048px 1575px #FFF , 1237px 215px #FFF , 451px 1777px #FFF , 174px 1398px #FFF , 399px 1901px #FFF , 1453px 1867px #FFF , 510px 661px #FFF , 1231px 1569px #FFF , 1676px 922px #FFF , 487px 1031px #FFF , 925px 1152px #FFF , 778px 956px #FFF , 1467px 1996px #FFF , 557px 530px #FFF , 1609px 313px #FFF , 1219px 321px #FFF , 1006px 405px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 778px 326px #FFF , 701px 24px #FFF , 72px 1241px #FFF , 1985px 1648px #FFF , 748px 1237px #FFF , 1636px 1417px #FFF , 762px 467px #FFF , 1682px 996px #FFF , 1578px 1502px #FFF , 1298px 886px #FFF , 1135px 750px #FFF , 331px 844px #FFF , 1810px 1021px #FFF , 1006px 1466px #FFF , 1245px 770px #FFF , 1255px 267px #FFF , 704px 1734px #FFF , 142px 360px #FFF , 1738px 235px #FFF , 728px 503px #FFF , 989px 1969px #FFF , 624px 463px #FFF , 1275px 943px #FFF , 1918px 688px #FFF , 523px 1949px #FFF , 870px 372px #FFF , 79px 632px #FFF , 608px 171px #FFF , 1185px 749px #FFF , 221px 253px #FFF , 818px 1598px #FFF , 1025px 1966px #FFF , 1567px 1053px #FFF , 1618px 795px #FFF , 1041px 450px #FFF , 68px 1629px #FFF , 1604px 1697px #FFF , 1035px 451px #FFF , 342px 1303px #FFF , 1415px 889px #FFF , 1263px 1896px #FFF , 916px 1373px #FFF , 1425px 1287px #FFF , 1543px 1207px #FFF , 1346px 1889px #FFF , 872px 1667px #FFF , 1102px 1543px #FFF , 497px 1512px #FFF , 1011px 1692px #FFF , 1321px 746px #FFF , 121px 381px #FFF , 1494px 730px #FFF , 438px 1513px #FFF , 1604px 1625px #FFF , 128px 1723px #FFF , 1703px 513px #FFF , 206px 1741px #FFF , 12px 1927px #FFF , 993px 25px #FFF , 167px 1907px #FFF , 1986px 1922px #FFF , 1153px 1552px #FFF , 1738px 1563px #FFF , 1549px 1988px #FFF , 290px 326px #FFF , 301px 784px #FFF , 1898px 1804px #FFF , 184px 309px #FFF , 1829px 640px #FFF , 849px 854px #FFF , 1725px 382px #FFF , 1105px 106px #FFF , 1992px 12px #FFF , 586px 1672px #FFF , 738px 1517px #FFF , 1571px 371px #FFF , 691px 198px #FFF , 1544px 1594px #FFF , 664px 515px #FFF , 889px 1596px #FFF , 759px 1257px #FFF , 1195px 1950px #FFF , 710px 1016px #FFF , 1145px 1902px #FFF , 637px 1651px #FFF , 1192px 521px #FFF , 350px 723px #FFF , 1442px 1047px #FFF , 240px 1508px #FFF , 598px 801px #FFF , 563px 1429px #FFF , 487px 1335px #FFF , 174px 720px #FFF , 289px 1343px #FFF , 1762px 186px #FFF , 1346px 409px #FFF , 749px 324px #FFF , 1437px 1309px #FFF , 518px 1496px #FFF , 509px 1263px #FFF , 1139px 1984px #FFF , 1075px 186px #FFF , 288px 534px #FFF , 1237px 1778px #FFF , 1818px 1725px #FFF , 1888px 615px #FFF , 304px 1580px #FFF , 788px 432px #FFF , 730px 1078px #FFF , 157px 453px #FFF , 1120px 1334px #FFF , 1854px 1434px #FFF , 1200px 1768px #FFF , 718px 1809px #FFF , 406px 945px #FFF , 317px 707px #FFF , 1142px 987px #FFF , 285px 1136px #FFF , 465px 804px #FFF , 1567px 346px #FFF , 1594px 1038px #FFF , 1747px 1093px #FFF , 1808px 1279px #FFF , 1034px 1895px #FFF , 454px 202px #FFF , 1159px 1833px #FFF , 1252px 1773px #FFF , 246px 518px #FFF , 1280px 692px #FFF , 1417px 1249px #FFF , 551px 1714px #FFF , 1770px 425px #FFF , 901px 1503px #FFF , 764px 2000px #FFF , 1561px 480px #FFF , 762px 172px #FFF , 1018px 137px #FFF , 499px 679px #FFF , 1843px 1536px #FFF , 366px 1449px #FFF , 261px 7px #FFF , 1292px 1274px #FFF , 948px 1530px #FFF , 1573px 370px #FFF , 317px 341px #FFF , 210px 693px #FFF , 44px 1395px #FFF , 802px 1367px #FFF , 1215px 1176px #FFF , 643px 635px #FFF , 1361px 1748px #FFF , 440px 1539px #FFF , 1318px 1491px #FFF , 70px 1408px #FFF , 1535px 426px #FFF , 989px 1495px #FFF , 458px 1841px #FFF , 116px 1167px #FFF , 147px 597px #FFF , 369px 98px #FFF , 816px 492px #FFF , 986px 1178px #FFF , 1214px 1248px #FFF , 1625px 1793px #FFF , 1907px 741px #FFF , 1883px 1836px #FFF , 1631px 80px #FFF , 1766px 474px #FFF , 1872px 1391px #FFF , 1938px 13px #FFF , 1726px 269px #FFF , 1731px 1637px #FFF , 639px 1098px #FFF , 1043px 867px #FFF , 1104px 491px #FFF , 94px 215px #FFF , 158px 38px #FFF , 1075px 463px #FFF , 957px 36px #FFF , 128px 1637px #FFF , 1759px 1282px #FFF , 1322px 1256px #FFF , 1436px 956px #FFF , 682px 1270px #FFF , 199px 263px #FFF , 1291px 1150px #FFF , 1099px 1855px #FFF , 1228px 1678px #FFF , 1725px 1469px #FFF , 1378px 857px #FFF , 122px 1052px #FFF , 503px 907px #FFF , 1795px 573px #FFF , 1035px 1320px #FFF , 228px 661px #FFF , 243px 1174px #FFF , 1027px 1372px #FFF , 1675px 1742px #FFF , 1473px 947px #FFF , 1751px 1714px #FFF , 1425px 1173px #FFF , 1821px 1772px #FFF , 734px 228px #FFF , 449px 512px #FFF , 975px 1440px #FFF , 360px 1879px #FFF , 56px 1318px #FFF , 141px 1157px #FFF , 260px 1251px #FFF , 120px 1499px #FFF , 1714px 1639px #FFF , 1938px 204px #FFF , 867px 1974px #FFF , 95px 1018px #FFF , 115px 1489px #FFF , 519px 1280px #FFF , 1135px 1609px #FFF , 1579px 1939px #FFF , 709px 1426px #FFF , 467px 827px #FFF , 743px 1222px #FFF , 1526px 970px #FFF , 1081px 1235px #FFF , 1975px 1679px #FFF , 1597px 1984px #FFF , 1660px 1494px #FFF , 1998px 435px #FFF , 1595px 805px #FFF , 1726px 1055px #FFF , 804px 1458px #FFF , 146px 215px #FFF , 113px 1523px #FFF , 1883px 680px #FFF , 506px 240px #FFF , 1499px 1274px #FFF , 936px 562px #FFF , 64px 1416px #FFF , 1239px 1023px #FFF , 1476px 1553px #FFF , 30px 1367px #FFF , 389px 1545px #FFF , 818px 1724px #FFF , 1416px 1728px #FFF , 1550px 100px #FFF , 743px 466px #FFF , 846px 1857px #FFF , 1102px 877px #FFF , 1532px 1157px #FFF , 217px 937px #FFF , 1471px 215px #FFF , 1657px 1931px #FFF , 581px 136px #FFF , 502px 1995px #FFF , 1805px 280px #FFF , 1357px 1777px #FFF , 94px 207px #FFF , 848px 212px #FFF , 1650px 1280px #FFF , 1471px 1182px #FFF , 33px 1230px #FFF , 910px 1717px #FFF , 102px 1009px #FFF , 699px 82px #FFF , 1997px 882px #FFF , 1013px 1203px #FFF , 1579px 1350px #FFF , 24px 298px #FFF , 1839px 1600px #FFF , 1954px 277px #FFF , 736px 1964px #FFF , 1104px 1310px #FFF , 648px 1748px #FFF , 47px 551px #FFF , 254px 163px #FFF , 719px 395px #FFF , 513px 1625px #FFF , 202px 1799px #FFF , 229px 208px #FFF , 578px 19px #FFF , 1928px 374px #FFF , 1872px 600px #FFF , 647px 1988px #FFF , 14px 821px #FFF , 1200px 6px #FFF , 1418px 352px #FFF , 199px 1627px #FFF , 1603px 743px #FFF , 1667px 24px #FFF , 1216px 582px #FFF , 1456px 1851px #FFF , 1925px 755px #FFF , 892px 1801px #FFF , 981px 1069px #FFF , 675px 1710px #FFF , 651px 1428px #FFF , 446px 403px #FFF , 1581px 1860px #FFF , 1992px 1491px #FFF , 1139px 913px #FFF , 816px 1579px #FFF , 1489px 354px #FFF , 483px 1987px #FFF , 1107px 1779px #FFF , 1132px 965px #FFF , 1085px 577px #FFF , 81px 932px #FFF , 1265px 333px #FFF , 1394px 1453px #FFF , 1951px 1096px #FFF , 1966px 1294px #FFF , 1511px 1099px #FFF , 412px 1996px #FFF , 78px 508px #FFF , 422px 1359px #FFF , 394px 1064px #FFF , 1738px 1335px #FFF , 361px 1728px #FFF , 1468px 1072px #FFF , 499px 157px #FFF , 1677px 931px #FFF , 1569px 766px #FFF , 1655px 907px #FFF , 133px 670px #FFF , 1576px 1317px #FFF , 1843px 1017px #FFF , 1119px 45px #FFF , 1605px 1906px #FFF , 952px 1057px #FFF , 1872px 297px #FFF , 254px 1633px #FFF , 839px 298px #FFF , 257px 1914px #FFF , 1584px 955px #FFF , 1114px 17px #FFF , 1004px 1944px #FFF , 1887px 76px #FFF , 1977px 174px #FFF , 1441px 762px #FFF , 919px 107px #FFF , 281px 311px #FFF , 284px 541px #FFF , 1921px 191px #FFF , 1725px 1509px #FFF , 278px 676px #FFF , 1477px 538px #FFF , 446px 1946px #FFF , 1630px 783px #FFF , 1482px 1526px #FFF , 1918px 1324px #FFF , 629px 1939px #FFF , 1618px 1249px #FFF , 628px 244px #FFF , 96px 98px #FFF , 1299px 1887px #FFF , 666px 1215px #FFF , 942px 1348px #FFF , 1904px 143px #FFF , 1326px 624px #FFF , 944px 1893px #FFF , 1964px 1193px #FFF , 1723px 1496px #FFF , 820px 1273px #FFF , 485px 362px #FFF , 1589px 1695px #FFF , 231px 1804px #FFF , 763px 359px #FFF , 520px 223px #FFF , 41px 1973px #FFF , 1869px 642px #FFF , 1300px 9px #FFF , 1565px 1503px #FFF , 163px 646px #FFF , 592px 375px #FFF , 1648px 731px #FFF , 922px 1572px #FFF , 202px 522px #FFF , 305px 787px #FFF , 111px 774px #FFF , 1313px 802px #FFF , 1515px 865px #FFF , 72px 1671px #FFF , 1823px 1934px #FFF , 555px 1094px #FFF , 776px 215px #FFF , 200px 794px #FFF , 286px 1252px #FFF , 1662px 991px #FFF , 702px 1193px #FFF , 1047px 527px #FFF , 790px 973px #FFF , 872px 709px #FFF , 1401px 1227px #FFF , 1123px 1822px #FFF , 179px 1425px #FFF , 1848px 576px #FFF , 1839px 1650px #FFF , 1478px 1580px #FFF , 1161px 1751px #FFF , 1539px 1724px #FFF , 366px 1807px #FFF , 1508px 1662px #FFF , 91px 1892px #FFF , 1618px 1834px #FFF , 1491px 322px #FFF , 50px 1215px #FFF , 174px 1465px #FFF , 489px 96px #FFF , 428px 137px #FFF , 735px 716px #FFF , 215px 462px #FFF , 1771px 128px #FFF , 1855px 1126px #FFF , 472px 1232px #FFF , 187px 1332px #FFF , 1335px 767px #FFF , 1492px 803px #FFF , 523px 1798px #FFF , 571px 1852px #FFF , 849px 922px #FFF , 522px 56px #FFF , 1823px 196px #FFF , 897px 1978px #FFF , 555px 1505px #FFF , 1898px 504px #FFF , 672px 1133px #FFF , 1306px 1520px #FFF , 896px 216px #FFF , 1390px 1935px #FFF , 1282px 711px #FFF , 677px 1190px #FFF , 1281px 1703px #FFF , 1661px 921px #FFF , 208px 42px #FFF , 48px 166px #FFF , 828px 558px #FFF , 1681px 786px #FFF , 1022px 698px #FFF , 136px 409px #FFF , 499px 1748px #FFF , 1040px 129px #FFF , 371px 1433px #FFF , 1849px 1861px #FFF , 1386px 1667px #FFF , 816px 195px #FFF , 480px 868px #FFF , 1827px 1719px #FFF , 227px 860px #FFF , 791px 1238px #FFF , 28px 105px #FFF , 1064px 1057px #FFF , 974px 618px #FFF , 918px 173px #FFF , 1231px 1034px #FFF , 136px 712px #FFF , 1913px 904px #FFF , 1384px 1736px #FFF , 10px 29px #FFF , 955px 1881px #FFF , 75px 1787px #FFF , 50px 1917px #FFF , 765px 668px #FFF , 164px 593px #FFF , 481px 1107px #FFF , 543px 1714px #FFF , 1092px 1828px #FFF , 1268px 627px #FFF , 147px 71px #FFF , 313px 898px #FFF , 1074px 1931px #FFF , 1644px 1638px #FFF , 429px 565px #FFF , 1067px 365px #FFF , 1990px 1431px #FFF , 1772px 206px #FFF , 740px 813px #FFF , 1143px 1942px #FFF , 1198px 1182px #FFF , 107px 489px #FFF , 1937px 982px #FFF , 1969px 1735px #FFF , 1345px 571px #FFF , 1463px 1063px #FFF , 99px 1262px #FFF , 1393px 836px #FFF , 1969px 672px #FFF , 681px 70px #FFF , 1501px 891px #FFF , 884px 1527px #FFF , 1362px 1833px #FFF , 37px 1184px #FFF , 873px 831px #FFF , 1385px 356px #FFF , 132px 29px #FFF , 1036px 1647px #FFF , 1693px 1461px #FFF , 1313px 279px #FFF , 1975px 33px #FFF , 493px 512px #FFF , 1904px 558px #FFF , 1160px 1385px #FFF , 1636px 56px #FFF , 1962px 1595px #FFF , 637px 531px #FFF , 1350px 932px #FFF , 215px 191px #FFF , 881px 871px #FFF , 1668px 1907px #FFF , 280px 321px #FFF , 315px 1652px #FFF , 1044px 1669px #FFF , 1768px 1533px #FFF , 1764px 472px #FFF , 193px 629px #FFF , 1940px 358px #FFF , 1874px 1289px #FFF , 1792px 1552px #FFF , 1891px 402px #FFF , 1855px 367px #FFF , 1928px 286px #FFF , 52px 160px #FFF , 423px 1756px #FFF , 1574px 1507px #FFF , 1369px 1448px #FFF , 720px 1449px #FFF , 115px 1691px #FFF , 85px 1990px #FFF , 1795px 1855px #FFF , 640px 1340px #FFF , 1621px 971px #FFF , 1642px 1862px #FFF , 520px 1063px #FFF , 1014px 810px #FFF , 1228px 1275px #FFF , 1811px 1002px #FFF , 900px 777px #FFF , 1176px 636px #FFF , 1142px 1227px #FFF , 1269px 1538px #FFF , 1261px 1016px #FFF , 533px 1775px #FFF , 975px 813px #FFF , 762px 583px #FFF , 374px 1803px #FFF , 1517px 590px #FFF , 1582px 946px #FFF , 768px 820px #FFF , 484px 318px #FFF , 1621px 675px #FFF , 1182px 1250px #FFF , 315px 1247px #FFF , 1544px 1576px #FFF , 101px 709px #FFF , 502px 1563px #FFF , 1861px 210px #FFF , 54px 354px #FFF , 192px 741px #FFF , 1206px 1565px #FFF , 362px 1230px #FFF , 1024px 522px #FFF , 165px 1699px #FFF , 885px 885px #FFF , 1854px 1233px #FFF , 374px 995px #FFF , 331px 231px #FFF , 890px 1001px #FFF , 1794px 856px #FFF , 1031px 465px #FFF , 951px 642px #FFF , 173px 699px #FFF , 1992px 1676px #FFF , 1554px 606px #FFF , 1118px 522px #FFF , 346px 48px #FFF , 827px 1397px #FFF , 486px 872px #FFF , 1031px 177px #FFF , 545px 1317px #FFF , 489px 1610px #FFF , 1545px 484px #FFF , 1392px 1022px #FFF , 684px 1130px #FFF , 1000px 1239px #FFF , 296px 1034px #FFF , 1516px 885px #FFF , 195px 422px #FFF , 266px 1198px #FFF , 1073px 1591px #FFF , 211px 824px #FFF , 1074px 1601px #FFF , 783px 1861px #FFF , 1787px 1618px #FFF , 1770px 1073px #FFF , 1192px 982px #FFF , 482px 184px #FFF , 1446px 1688px #FFF , 475px 453px #FFF , 1418px 743px #FFF , 369px 1819px #FFF , 1520px 1425px #FFF , 417px 1848px #FFF , 1522px 1167px #FFF , 1840px 1649px #FFF , 1265px 1229px #FFF , 1556px 1143px #FFF , 320px 1562px #FFF , 1304px 1876px #FFF , 1666px 42px #FFF , 649px 1624px #FFF , 853px 1172px #FFF , 1747px 855px #FFF , 272px 256px #FFF , 899px 1662px #FFF , 330px 1512px #FFF , 299px 717px #FFF , 594px 1422px #FFF , 672px 90px #FFF , 209px 1942px #FFF , 45px 1183px #FFF , 1773px 114px #FFF , 1219px 1151px #FFF , 152px 507px #FFF , 129px 983px #FFF , 1349px 1822px #FFF , 1050px 1992px #FFF , 450px 293px #FFF , 24px 81px #FFF , 1371px 1130px #FFF , 396px 785px #FFF , 656px 281px #FFF , 1816px 1316px #FFF , 410px 1542px #FFF , 902px 1180px #FFF , 1407px 1837px #FFF , 1573px 799px #FFF , 1862px 1568px #FFF , 540px 1101px #FFF , 1987px 1648px #FFF , 549px 4px #FFF , 1395px 516px #FFF , 627px 230px #FFF , 1626px 656px #FFF , 1562px 1747px #FFF , 1636px 1038px #FFF , 1098px 1156px #FFF , 841px 1867px #FFF , 2000px 384px #FFF , 1025px 331px #FFF , 1946px 161px #FFF , 308px 827px #FFF , 469px 649px #FFF , 737px 624px #FFF , 1698px 1677px #FFF , 1459px 1141px #FFF , 1748px 858px #FFF , 1419px 1699px #FFF , 1145px 959px #FFF , 40px 1271px #FFF , 663px 888px #FFF , 347px 788px #FFF , 251px 1107px #FFF , 1289px 540px #FFF , 1172px 136px #FFF , 836px 160px #FFF , 1649px 1879px #FFF , 2000px 199px #FFF , 1926px 359px #FFF , 194px 1600px #FFF , 344px 165px #FFF , 558px 1079px #FFF , 1755px 140px #FFF , 1916px 1079px #FFF , 963px 1593px #FFF , 667px 913px #FFF , 487px 1219px #FFF , 602px 140px #FFF , 1987px 945px #FFF , 723px 1248px #FFF , 21px 1161px #FFF , 1119px 698px #FFF , 117px 80px #FFF , 636px 1110px #FFF , 1957px 1911px #FFF , 149px 1805px #FFF , 1048px 1575px #FFF , 1237px 215px #FFF , 451px 1777px #FFF , 174px 1398px #FFF , 399px 1901px #FFF , 1453px 1867px #FFF , 510px 661px #FFF , 1231px 1569px #FFF , 1676px 922px #FFF , 487px 1031px #FFF , 925px 1152px #FFF , 778px 956px #FFF , 1467px 1996px #FFF , 557px 530px #FFF , 1609px 313px #FFF , 1219px 321px #FFF , 1006px 405px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 352px 446px #FFF , 996px 720px #FFF , 1464px 622px #FFF , 963px 443px #FFF , 1140px 20px #FFF , 1169px 499px #FFF , 1959px 557px #FFF , 1286px 767px #FFF , 1371px 875px #FFF , 763px 940px #FFF , 1932px 1885px #FFF , 929px 838px #FFF , 793px 765px #FFF , 283px 1436px #FFF , 1987px 1236px #FFF , 906px 1807px #FFF , 1360px 826px #FFF , 1297px 1957px #FFF , 1801px 635px #FFF , 179px 1366px #FFF , 631px 1903px #FFF , 233px 1347px #FFF , 968px 1067px #FFF , 346px 1083px #FFF , 466px 1036px #FFF , 1539px 1666px #FFF , 278px 1810px #FFF , 539px 352px #FFF , 1338px 1716px #FFF , 1044px 608px #FFF , 1131px 380px #FFF , 258px 381px #FFF , 1572px 87px #FFF , 1161px 1527px #FFF , 1729px 1034px #FFF , 683px 99px #FFF , 1019px 937px #FFF , 1516px 456px #FFF , 769px 492px #FFF , 1173px 1610px #FFF , 328px 1726px #FFF , 1991px 1944px #FFF , 94px 853px #FFF , 948px 1415px #FFF , 1001px 486px #FFF , 1091px 1546px #FFF , 1990px 809px #FFF , 339px 1589px #FFF , 1007px 68px #FFF , 1217px 987px #FFF , 1298px 387px #FFF , 1882px 108px #FFF , 836px 725px #FFF , 511px 930px #FFF , 642px 1586px #FFF , 156px 1871px #FFF , 1396px 777px #FFF , 248px 386px #FFF , 947px 134px #FFF , 148px 915px #FFF , 1048px 1972px #FFF , 924px 764px #FFF , 1996px 588px #FFF , 136px 94px #FFF , 216px 669px #FFF , 422px 797px #FFF , 1560px 1088px #FFF , 245px 867px #FFF , 8px 688px #FFF , 240px 1384px #FFF , 51px 191px #FFF , 1417px 1461px #FFF , 1152px 1003px #FFF , 32px 1197px #FFF , 844px 946px #FFF , 933px 401px #FFF , 272px 1484px #FFF , 1980px 545px #FFF , 1047px 747px #FFF , 1180px 1084px #FFF , 1515px 1816px #FFF , 56px 383px #FFF , 1631px 998px #FFF , 1278px 1277px #FFF , 875px 1064px #FFF , 684px 1957px #FFF , 463px 1322px #FFF , 1192px 534px #FFF , 1262px 1064px #FFF , 1530px 1584px #FFF , 1392px 1845px #FFF , 1917px 240px #FFF , 1338px 6px #FFF , 983px 576px #FFF , 86px 277px #FFF , 1024px 500px #FFF , 1677px 964px #FFF , 1160px 1053px #FFF , 401px 1909px #FFF , 1820px 1455px #FFF , 462px 1672px #FFF , 1332px 1985px #FFF , 1922px 989px #FFF , 573px 1496px #FFF , 298px 368px #FFF , 1582px 1379px #FFF , 911px 387px #FFF , 528px 1153px #FFF , 98px 649px #FFF , 1624px 407px #FFF , 1445px 1765px #FFF , 1668px 976px #FFF , 1761px 1802px #FFF , 466px 749px #FFF , 263px 1415px #FFF , 56px 1277px #FFF , 691px 1369px #FFF , 1357px 680px #FFF , 967px 355px #FFF , 1838px 581px #FFF , 521px 1453px #FFF , 1588px 23px #FFF , 1951px 1347px #FFF , 1176px 1780px #FFF , 1159px 964px #FFF , 475px 1745px #FFF , 1420px 1386px #FFF , 1618px 1719px #FFF , 225px 556px #FFF , 1959px 275px #FFF , 1548px 717px #FFF , 696px 1343px #FFF , 7px 1952px #FFF , 410px 1337px #FFF , 822px 593px #FFF , 328px 216px #FFF , 1154px 1132px #FFF , 1477px 415px #FFF , 825px 658px #FFF , 1572px 491px #FFF , 1786px 359px #FFF , 1509px 1034px #FFF , 707px 948px #FFF , 561px 1726px #FFF , 139px 1155px #FFF , 121px 1374px #FFF , 1611px 1406px #FFF , 349px 1336px #FFF , 635px 1738px #FFF , 520px 1597px #FFF , 940px 693px #FFF , 362px 1676px #FFF , 1465px 1101px #FFF , 1191px 1527px #FFF , 243px 110px #FFF , 1502px 194px #FFF , 1555px 1155px #FFF , 598px 1615px #FFF , 824px 304px #FFF , 114px 1730px #FFF , 199px 545px #FFF , 1694px 141px #FFF , 981px 584px #FFF , 1691px 720px #FFF , 1897px 903px #FFF , 1090px 474px #FFF , 509px 1185px #FFF , 947px 1654px #FFF , 1733px 767px #FFF , 1998px 706px #FFF , 1506px 607px #FFF , 1864px 25px #FFF , 1040px 1813px #FFF , 365px 1768px #FFF , 1394px 717px #FFF , 68px 390px #FFF , 200px 227px #FFF , 1270px 800px #FFF , 1408px 164px #FFF , 1009px 327px #FFF , 121px 594px #FFF , 1220px 1610px #FFF , 1989px 1270px #FFF , 1512px 352px #FFF , 1241px 1093px #FFF , 1511px 1912px #FFF , 373px 301px #FFF , 1118px 356px #FFF , 839px 1907px #FFF , 1639px 540px #FFF , 1182px 1475px #FFF , 604px 1645px #FFF , 809px 1751px #FFF , 359px 1251px #FFF , 751px 750px #FFF , 1854px 1499px #FFF , 1941px 570px #FFF , 1626px 1856px #FFF , 334px 602px #FFF , 1594px 1213px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 352px 446px #FFF , 996px 720px #FFF , 1464px 622px #FFF , 963px 443px #FFF , 1140px 20px #FFF , 1169px 499px #FFF , 1959px 557px #FFF , 1286px 767px #FFF , 1371px 875px #FFF , 763px 940px #FFF , 1932px 1885px #FFF , 929px 838px #FFF , 793px 765px #FFF , 283px 1436px #FFF , 1987px 1236px #FFF , 906px 1807px #FFF , 1360px 826px #FFF , 1297px 1957px #FFF , 1801px 635px #FFF , 179px 1366px #FFF , 631px 1903px #FFF , 233px 1347px #FFF , 968px 1067px #FFF , 346px 1083px #FFF , 466px 1036px #FFF , 1539px 1666px #FFF , 278px 1810px #FFF , 539px 352px #FFF , 1338px 1716px #FFF , 1044px 608px #FFF , 1131px 380px #FFF , 258px 381px #FFF , 1572px 87px #FFF , 1161px 1527px #FFF , 1729px 1034px #FFF , 683px 99px #FFF , 1019px 937px #FFF , 1516px 456px #FFF , 769px 492px #FFF , 1173px 1610px #FFF , 328px 1726px #FFF , 1991px 1944px #FFF , 94px 853px #FFF , 948px 1415px #FFF , 1001px 486px #FFF , 1091px 1546px #FFF , 1990px 809px #FFF , 339px 1589px #FFF , 1007px 68px #FFF , 1217px 987px #FFF , 1298px 387px #FFF , 1882px 108px #FFF , 836px 725px #FFF , 511px 930px #FFF , 642px 1586px #FFF , 156px 1871px #FFF , 1396px 777px #FFF , 248px 386px #FFF , 947px 134px #FFF , 148px 915px #FFF , 1048px 1972px #FFF , 924px 764px #FFF , 1996px 588px #FFF , 136px 94px #FFF , 216px 669px #FFF , 422px 797px #FFF , 1560px 1088px #FFF , 245px 867px #FFF , 8px 688px #FFF , 240px 1384px #FFF , 51px 191px #FFF , 1417px 1461px #FFF , 1152px 1003px #FFF , 32px 1197px #FFF , 844px 946px #FFF , 933px 401px #FFF , 272px 1484px #FFF , 1980px 545px #FFF , 1047px 747px #FFF , 1180px 1084px #FFF , 1515px 1816px #FFF , 56px 383px #FFF , 1631px 998px #FFF , 1278px 1277px #FFF , 875px 1064px #FFF , 684px 1957px #FFF , 463px 1322px #FFF , 1192px 534px #FFF , 1262px 1064px #FFF , 1530px 1584px #FFF , 1392px 1845px #FFF , 1917px 240px #FFF , 1338px 6px #FFF , 983px 576px #FFF , 86px 277px #FFF , 1024px 500px #FFF , 1677px 964px #FFF , 1160px 1053px #FFF , 401px 1909px #FFF , 1820px 1455px #FFF , 462px 1672px #FFF , 1332px 1985px #FFF , 1922px 989px #FFF , 573px 1496px #FFF , 298px 368px #FFF , 1582px 1379px #FFF , 911px 387px #FFF , 528px 1153px #FFF , 98px 649px #FFF , 1624px 407px #FFF , 1445px 1765px #FFF , 1668px 976px #FFF , 1761px 1802px #FFF , 466px 749px #FFF , 263px 1415px #FFF , 56px 1277px #FFF , 691px 1369px #FFF , 1357px 680px #FFF , 967px 355px #FFF , 1838px 581px #FFF , 521px 1453px #FFF , 1588px 23px #FFF , 1951px 1347px #FFF , 1176px 1780px #FFF , 1159px 964px #FFF , 475px 1745px #FFF , 1420px 1386px #FFF , 1618px 1719px #FFF , 225px 556px #FFF , 1959px 275px #FFF , 1548px 717px #FFF , 696px 1343px #FFF , 7px 1952px #FFF , 410px 1337px #FFF , 822px 593px #FFF , 328px 216px #FFF , 1154px 1132px #FFF , 1477px 415px #FFF , 825px 658px #FFF , 1572px 491px #FFF , 1786px 359px #FFF , 1509px 1034px #FFF , 707px 948px #FFF , 561px 1726px #FFF , 139px 1155px #FFF , 121px 1374px #FFF , 1611px 1406px #FFF , 349px 1336px #FFF , 635px 1738px #FFF , 520px 1597px #FFF , 940px 693px #FFF , 362px 1676px #FFF , 1465px 1101px #FFF , 1191px 1527px #FFF , 243px 110px #FFF , 1502px 194px #FFF , 1555px 1155px #FFF , 598px 1615px #FFF , 824px 304px #FFF , 114px 1730px #FFF , 199px 545px #FFF , 1694px 141px #FFF , 981px 584px #FFF , 1691px 720px #FFF , 1897px 903px #FFF , 1090px 474px #FFF , 509px 1185px #FFF , 947px 1654px #FFF , 1733px 767px #FFF , 1998px 706px #FFF , 1506px 607px #FFF , 1864px 25px #FFF , 1040px 1813px #FFF , 365px 1768px #FFF , 1394px 717px #FFF , 68px 390px #FFF , 200px 227px #FFF , 1270px 800px #FFF , 1408px 164px #FFF , 1009px 327px #FFF , 121px 594px #FFF , 1220px 1610px #FFF , 1989px 1270px #FFF , 1512px 352px #FFF , 1241px 1093px #FFF , 1511px 1912px #FFF , 373px 301px #FFF , 1118px 356px #FFF , 839px 1907px #FFF , 1639px 540px #FFF , 1182px 1475px #FFF , 604px 1645px #FFF , 809px 1751px #FFF , 359px 1251px #FFF , 751px 750px #FFF , 1854px 1499px #FFF , 1941px 570px #FFF , 1626px 1856px #FFF , 334px 602px #FFF , 1594px 1213px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1953px 1330px #FFF , 1956px 1942px #FFF , 80px 1169px #FFF , 174px 1413px #FFF , 1326px 1426px #FFF , 1047px 498px #FFF , 1072px 654px #FFF , 1719px 1735px #FFF , 1070px 585px #FFF , 1189px 1030px #FFF , 267px 1061px #FFF , 1238px 288px #FFF , 1142px 1743px #FFF , 105px 1043px #FFF , 814px 593px #FFF , 486px 853px #FFF , 1801px 1546px #FFF , 27px 1422px #FFF , 764px 719px #FFF , 536px 1210px #FFF , 1152px 1412px #FFF , 1345px 529px #FFF , 1563px 635px #FFF , 1020px 1898px #FFF , 586px 105px #FFF , 787px 520px #FFF , 1639px 517px #FFF , 600px 146px #FFF , 722px 291px #FFF , 1587px 1039px #FFF , 1753px 1395px #FFF , 945px 585px #FFF , 201px 1778px #FFF , 1775px 1631px #FFF , 1124px 1865px #FFF , 279px 1215px #FFF , 1425px 228px #FFF , 1150px 873px #FFF , 1725px 501px #FFF , 1611px 1240px #FFF , 424px 2px #FFF , 1852px 1650px #FFF , 177px 1529px #FFF , 1294px 1583px #FFF , 1667px 302px #FFF , 1196px 330px #FFF , 1470px 1946px #FFF , 351px 1764px #FFF , 608px 1846px #FFF , 1132px 1998px #FFF , 1737px 1455px #FFF , 704px 1329px #FFF , 1092px 1792px #FFF , 1576px 1887px #FFF , 694px 1793px #FFF , 784px 301px #FFF , 1536px 256px #FFF , 955px 1838px #FFF , 244px 494px #FFF , 984px 1987px #FFF , 753px 762px #FFF , 1951px 1591px #FFF , 1422px 1458px #FFF , 1446px 1945px #FFF , 542px 1711px #FFF , 1145px 590px #FFF , 1492px 545px #FFF , 267px 509px #FFF , 1648px 774px #FFF , 1482px 789px #FFF , 298px 1333px #FFF , 1057px 1015px #FFF , 1491px 719px #FFF , 179px 782px #FFF , 1995px 1700px #FFF , 1595px 1648px #FFF , 1724px 1685px #FFF , 940px 1466px #FFF , 385px 87px #FFF , 860px 1183px #FFF , 1283px 48px #FFF , 1888px 1544px #FFF , 1129px 47px #FFF , 633px 1958px #FFF , 1621px 393px #FFF , 742px 825px #FFF , 1609px 234px #FFF , 1340px 536px #FFF , 1014px 805px #FFF , 1924px 1035px #FFF , 1100px 1944px #FFF , 612px 1799px #FFF , 428px 1251px #FFF , 1713px 1379px #FFF , 256px 939px #FFF , 560px 1509px #FFF , 966px 157px #FFF , 885px 1888px #FFF , 152px 1928px #FFF , 1858px 778px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1953px 1330px #FFF , 1956px 1942px #FFF , 80px 1169px #FFF , 174px 1413px #FFF , 1326px 1426px #FFF , 1047px 498px #FFF , 1072px 654px #FFF , 1719px 1735px #FFF , 1070px 585px #FFF , 1189px 1030px #FFF , 267px 1061px #FFF , 1238px 288px #FFF , 1142px 1743px #FFF , 105px 1043px #FFF , 814px 593px #FFF , 486px 853px #FFF , 1801px 1546px #FFF , 27px 1422px #FFF , 764px 719px #FFF , 536px 1210px #FFF , 1152px 1412px #FFF , 1345px 529px #FFF , 1563px 635px #FFF , 1020px 1898px #FFF , 586px 105px #FFF , 787px 520px #FFF , 1639px 517px #FFF , 600px 146px #FFF , 722px 291px #FFF , 1587px 1039px #FFF , 1753px 1395px #FFF , 945px 585px #FFF , 201px 1778px #FFF , 1775px 1631px #FFF , 1124px 1865px #FFF , 279px 1215px #FFF , 1425px 228px #FFF , 1150px 873px #FFF , 1725px 501px #FFF , 1611px 1240px #FFF , 424px 2px #FFF , 1852px 1650px #FFF , 177px 1529px #FFF , 1294px 1583px #FFF , 1667px 302px #FFF , 1196px 330px #FFF , 1470px 1946px #FFF , 351px 1764px #FFF , 608px 1846px #FFF , 1132px 1998px #FFF , 1737px 1455px #FFF , 704px 1329px #FFF , 1092px 1792px #FFF , 1576px 1887px #FFF , 694px 1793px #FFF , 784px 301px #FFF , 1536px 256px #FFF , 955px 1838px #FFF , 244px 494px #FFF , 984px 1987px #FFF , 753px 762px #FFF , 1951px 1591px #FFF , 1422px 1458px #FFF , 1446px 1945px #FFF , 542px 1711px #FFF , 1145px 590px #FFF , 1492px 545px #FFF , 267px 509px #FFF , 1648px 774px #FFF , 1482px 789px #FFF , 298px 1333px #FFF , 1057px 1015px #FFF , 1491px 719px #FFF , 179px 782px #FFF , 1995px 1700px #FFF , 1595px 1648px #FFF , 1724px 1685px #FFF , 940px 1466px #FFF , 385px 87px #FFF , 860px 1183px #FFF , 1283px 48px #FFF , 1888px 1544px #FFF , 1129px 47px #FFF , 633px 1958px #FFF , 1621px 393px #FFF , 742px 825px #FFF , 1609px 234px #FFF , 1340px 536px #FFF , 1014px 805px #FFF , 1924px 1035px #FFF , 1100px 1944px #FFF , 612px 1799px #FFF , 428px 1251px #FFF , 1713px 1379px #FFF , 256px 939px #FFF , 560px 1509px #FFF , 966px 157px #FFF , 885px 1888px #FFF , 152px 1928px #FFF , 1858px 778px #FFF;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
